<!DOCTYPE html>
<html>
<head>
    <title>Simple App</title>
</head>
<body>
    
		<h1 align=center>Welcome to EiTuku URL Shortening Service</h1>
		<br>
		<div align="center">
		<form name="mainForm" id="mainForm"  action="/ranning/" method="POST">
			<input type="radio" name="todo" value="generate" checked=1 onclick="vanish()">Generate&emsp;&emsp;
			<input type="radio" name="todo" value="redirect" onclick="vanish()">Redirect
			<br><br>

			<div id="generate" style="display:block;">
				<fieldset>
				<legend>Generate a Short URL</legend>
				Enter the URL you want to shorten:
				<input type="text" id="url" name="url" placeholder="https://url" size=75 style="width:50vmax;">
				<span style="color:red" id="url_error"></span>
				<br><br><br>
				<input type="button" name="a1" value="GO" onclick="validateGen()">
				
				<br><br><br>
				<div style="color:red;float:left;;">
					<i>*Only valid, safe, and secured https links are allowed. Links with autoredirects will also not work.</i>
				</div>

				</fieldset>
				<div id="oput" align="center" style="font-size:120%;line-height:2;letter-spacing:2px;word-spacing:3px;display:none;">
				The URL you entered is &ldquo;<span id="ipurl"></span>&rdquo;<br>The corresponding shortened URL is &ldquo;<span 							id="opurl"></span>&rdquo;<br>Press the button below to copy the generated URL<br>
				<input type="button" name="copy" value="COPY" onclick="">		
				</div>
			</div>
			
			<div id="redirect" style="display:none;">
				<fieldset>
				<legend>Get Redirected from a Short URL</legend>
				Enter the Short URL Code you have:
				<input type="text" id="short" name="short" placeholder="https://ei.tuku/" size=75 style="width:50vmax;">
				<span style="color:red" id="short_error"></span>
				<br><br><br>
				<input type="button" name="a2" value="GO" onclick="validateRed()">
				</fieldset>
				<div id="oputRed" align="center" style="font-size:120%;line-height:2;letter-spacing:2px;word-spacing:3px;display:none;">
				The EiTuku Short Code you entered is &ldquo;<span id="ipshort"></span>&rdquo;<br>The corresponding original URL is &ldquo;<span 					id="iniurl"></span>&rdquo;<br>
				Press the button below to copy the generated URL<br>
				<input type="button" name="copyRed" value="COPY" onclick="">		
				</div>
			</div>
		</form></div>
		
		

<script>
function vanish()
{
if(document.mainForm.todo[0].checked)
{
document.getElementById("generate").style.display="block";
document.getElementById("redirect").style.display="none";
}
else
{
document.getElementById("generate").style.display="none";
document.getElementById("redirect").style.display="block";
}
}

function validateGen()
{
if(document.getElementById("url").value=="")
{
document.getElementById("url").style.borderColor="red";
document.getElementById("url_error").innerHTML="Please enter a URL";
document.getElementById("oput").style.display="none";
}
else
{
document.getElementById("url").style="initial";
document.getElementById("url_error").innerHTML="";
document.getElementById("ipurl").innerHTML=document.getElementById("url").value;
document.getElementById("oput").style.display="block";
document.getElementById("mainForm").submit();
}
}

function validateRed()
{
if(document.getElementById("short").value=="")
{
document.getElementById("short").style.borderColor="red";
document.getElementById("short_error").innerHTML="Please enter an EiTuku Short Code";
document.getElementById("oputRed").style.display="none";
}
else
{
document.getElementById("short").style="initial";
document.getElementById("short_error").innerHTML="";
document.getElementById("ipshort").innerHTML=document.getElementById("short").value;
document.getElementById("oputRed").style.display="block";
document.getElementById("mainForm").submit();
}
}
</script>
</body>
</html>
